 @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'; 
 @import "../font-awesome/font-awesome";
 @import "../font-awesome/_variables";
 @import '../yeti/yeti';
 @import '../yeti/variables';

#add_form {    
    .form-group :after {
      display: block;
    }
           
    #submit_button{      
          margin-top: 34px;
          font-size: 14px;         
          width: 100%;         
    }
}  


input.form-control {
     margin: 0;
     width: 100%;
     font-family: sans-serif;
     font-size: 18px;
     box-shadow: none;
     border: solid 1px #dcdcdc;
}
    
input.form-control:hover:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

input#invalid{
    border: solid 1px red;
}
         
p#invalid{
  color:red;
}

button.delete-completed{
    float: right;
}

label.control-label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}

.checkbox {
    margin-top: -5px;
}

h2 {
    margin-top: 0;
}

input[type="checkbox"]{
    width: 40px;
    height:  40px;
}

label.complete.control-label{
    text-decoration: line-through;
    color: gray;
}